<div class="jumbotron jumbotron-fluid text-center p-2">
    <div class="container">
        {{!-- <img src="/app/images/survey.gif" alt="Survey Cat" class="m-0 ml-5 float-left" id="survey-cat"> --}}
        <h1 class="display-4">Restaurant Tracker</h1>
        <p class="lead">Track and rate you favorite (and least favorite) restaurants!</p>
    </div>
</div>