html {
    background-color: rgba(50, 50, 50, .9);
    background-image: url("/assets/images/restaurant-background.jpg");
    min-height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}

body {
    background-color : rgba(0, 0, 0, 0);
}

hr {
    height:0; 
    border:0; 
    border-top:1px solid #aaa; 
  }

.card {
    background-color: rgba(50, 50, 50, .9)
}

.card-header, .jumbotron {
    background-color: rgba(30, 30, 30, 1)
}